In [3]:
'''
n=5
*
**
***
****
*****

'''
n=5
for i in range(1, n+1):
    for j in range(1,i+1):
        print("*", end="")
    print()

*
**
***
****
*****

In [4]:
'''
n=5
*

***

*****

'''
n=5
for i in range(1, n+1):
    if i%2==1:
        for j in range(1,i+1):
            print("*", end="")
    print()

*

***

*****

In [7]:
'''
n=3
*
***
*****
'''

n=3
k=1
for i in range(1, n+1):
    for j in range(1, k+1):
        print("*", end="")
    print()
    k=k+2

*
***
*****

In [8]:
'''
n=5
    *
   * *
  * * *
 * * * *
* * * * *
'''

n=5
for i in range(1, n+1):
    for j in range(1, n-i+1):
        print(" ",end="")
    for j in range(i):
        print("*", end=" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [22]:
'''
n=5
    *
   * *
  *   *
 *     *
*       *

'''
n=5
k=1
if n>=1:
    print(' '*(n-1), end='*')
    print()
for i in range(2, n+1):
    for j in range(1,n-i+1):
        print(" ", end="")
    print('*', end="")
    for j in range(k):
        print(" ",end="")
    k=k+2
    print('*')

    *
   * *
  *   *
 *     *
*       *

In [26]:
'''
n=5
    *
   * *
  *   *
 *     *
*********
'''
n=5
k=1
if n>=1:
    print(" "*(n-1),end='*\n')
for i in range(2,n):
    for j in range(1, n-i+1):
        print(" ",end="")
    print("*", end="")
    for j in range(k):
        print(" ",end="")
    k=k+2
    print("*")
print("*"*((2*n)-1))

    *
   * *
  *   *
 *     *
*********

In [27]:
'''
n=5
    *
   * *
  *   *
 *     *
 *******
'''
n=5
k=1
if n>=1:
    print(" "*(n-1),end='*\n')
for i in range(2,n):
    for j in range(1, n-i+1):
        print(" ",end="")
    print("*", end="")
    for j in range(k):
        print(" ",end="")
    k=k+2
    print("*")
print(" ", end="*"*((2*n)-3))

    *
   * *
  *   *
 *     *
 *******

In [31]:
'''
n=5
* * * * *
 * * * *
  * * *
   * *
    *
'''

n=5
for i in range(1, n+1):
    for j in range(i-1):
        print(" ", end="")
    for j in range(n+1-i):
        print("*", end=" ")
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [72]:
'''
n=5
*       *
 *     *
  *   *
   * *
    *
'''
n=5
k=1
k_l=[]
for i in range(n-1):
    k_l.append(k)
    k=k+2
# k_l.sort(reverse=True)
# print(k_l)

for i in range(1, n):
    for j in range(i-1):
        print(" ", end="")
    print("*", end="")
    for j in range(k_l[-1]):
        print(" ", end="")
    k_l = k_l[:-1]
    print("*")
print(" "*(n-1), end='*')

*       *
 *     *
  *   *
   * *
    *

In [36]:
'''
n=4
* * * *
* * *
* *
*
'''

n=4
b=n
for i in range(1,n+1):
    for j in range(b):
        print("*", end="")
    b-=1
    print()

****
***
**
*

In [42]:
'''
n=4
   *
  * *
 * * *
* * * *
 * * *
  * *
   *
'''

n=5
for i in range(1, n+1):
    for j in range(n-i):
        print(" ", end="")
    for j in range(i):
        print("*", end=" ")
    print()
    
for i in range(1,n):
    for j in range(1,i+1):
        print(" ", end="")
    for j in range(n-i):
        print("*", end=" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [48]:
'''
n=5
* * * * *
*       *
*       *
*       *
* * * * *
'''
n=5
k=0
for i in range(1, n+1):
    if i==1 or i==n:
        print("* "*n, end=" ")
        print()
    else:
        print("*", end=" ")
        for j in range(n-2):
            print(" ", end=" ")
        print("*", end=" ")
        print()

* * * * *
*       *
*       *
*       *
* * * * *

In [90]:
'''
n=3
  *
 * *
*   *
 * *
  *
'''

n=5

if n>=1:
    print(" "*(n-1), end="*\n")
if n>1:
    k=1
    for i in range(2,n+1):
        for j in range(1,n-i+1):
            print(" ", end="")
        print("*", end="")
        for j in range(k):
            print(" ", end="")
        k=k+2
        print("*")
        
    k=1
    k_l=[]
    for i in range(n-2):
        k_l.append(k)
        k=k+2
    for i in range(2, n):
        for j in range(i-1):
            print(" ", end="")
        print("*", end="")
        for j in range(k_l[-1]):
            print(" ", end="")
        k_l = k_l[:-1]
        print("*")
    print(" "*(n-1), end='*')

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

In [117]:
'''
n=4
   1
  1 1
 1 2 1
1 3 3 1
'''

n=4
res=[]
for i in range(n):
    res.append(11**(i))
i=0
for j in range(1,n+1):
    for k in range(n-j):
        print(" ", end="")
    f=[]
    for x in list(str(res[i])):
        f.append(int(x))
    for k in f:
        print(k, end=" ")
    print()
    i=i+1

   1
  1 1
 1 2 1
1 3 3 1

In [127]:
'''
n=3
* * *
  * *
    *
'''

n=5
b=n
for i in range(1,n+1):
    for j in range(i-1):
        print(" ",end="")
    for j in range(1,b+1):
        print("*", end="")
    print()
    b=b-1

*****
 ****
  ***
   **
    *

In [135]:
'''
n=3
    *
  * *
* * *
'''
n=3
b=n
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end=" ")
    for j in range(i):
        print("*", end=" ")
    print()

    *
  * *
* * *

In [136]:
'''
n=3
  *
 **
***
'''
n=3
b=n
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end="")
    for j in range(i):
        print("*", end="")
    print()

  *
 **
***

In [147]:
'''
n=3
* * * * * *
* *     * *
*         *
*         *
* *     * *
* * * * * *
'''
n=3
b=n
for i in range(1,n+1):
    for j in range(1,b+1):
        print("*",end=" ")
    for j in range(i-1):
        print(" ",end=" ")
    for j in range(i-1):
        print(" ",end=" ")
    for j in range(1,b+1):
        print("*",end=" ")
    b=b-1
    print()
b=1
for i in range(1,n+1):
    for j in range(1,b+1):
        print("*",end=" ")
    for j in range(n-i):
        print(" ",end=" ")
    for j in range(n-i):
        print(" ",end=" ")
    for j in range(1,b+1):
        print("*",end=" ")
    b=b+1
    print()

* * * * * *
* *     * *
*         *
*         *
* *     * *
* * * * * *

In [180]:
'''
n=2
 ** **
*  *  *
*     *
 *   *
  * *
   *

n=3
 *** ***
*   *   *
*       *
 *     *
  *   *
   * *
    *
'''
n=3
k=2*n+1
flag=0
for row in range(0,3):
    for col in range(0, (((2*n)+2)+1) ):
        if row==0:
            flag=1
            if col%(n+1)==0:
                print(" ",end="")
            else:
                print("*",end="")
        elif row==1:
            if col%(n+1)==0:
                print("*",end="")
            else:
                print(" ",end="")
    if flag==1:
        print()
        flag=0
print()
for i in range(1,n+2):
    for j in range(i-1):
        print(" ",end="")
    print("*",end="")
    for j in range(1,k+1):
        print(" ",end="")
    k=k-2
    print("*")
print(" "*(n+1),end="*\n")

 *** ***
*   *   *
*       *
 *     *
  *   *
   * *
    *

In [188]:
'''
n=3
 *** ***
*********
*********
 *******
  *****
   ***
    *
'''
n=5
k=2*n+1
flag=0
for row in range(0,2):
    for col in range(0, (((2*n)+2)+1) ):
        if row==0:
            flag=1
            if col%(n+1)==0:
                print(" ",end="")
            else:
                print("*",end="")
        elif row==1:
            print("*",end="")
    if flag==1:
        print()
        flag=0
print()
k=2*n+3
for i in range(1,n+2):
    for j in range(i-1):
        print(" ",end="")
    for j in range(1,k+1):
        print("*",end="")
    k=k-2
    print()
print(" "*(n+1),end="*\n")

 ***** *****
*************
*************
 ***********
  *********
   *******
    *****
     ***
      *

In [198]:
'''
n=4
   1
  212
 32123
4321234
'''
n=5
for i in range(1,n+1):
    for j in range(n-i+1):
        print(" ",end="")
    count=i
    for j in range(count,0,-1):
        print(j,end="")
    for j in range(2,count+1,1):
        print(j,end="")
        count+=1
    print()

     1
    212
   32123
  4321234
 543212345

In [ ]:
'''
   *       *
  * *     * *
 * * *   * * *
* * * * * * * *
* * * * * * * *
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *
       
1 2 3 4 5
16 17 18 19 6
15 24 25 20 7
14 23 22 21 8
13 12 11 10 9



n=4
1
2 5
3 6 8
4 7 9 10

'''

In [199]:

a=2
b=3
a&b

2

In [200]:
bin(a&b)

'0b10'

In [203]:
a="aa sd cd"
'aaa' in a

False

In [208]:
a=1
b=1.0
a == b

True

In [217]:
chr(2)

'\x02'

In [220]:
for i in range(1,11):
#     print(")")
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [221]:
ll=[1,2,3,3]
ll.count(3)

2

In [227]:
j='ppp'
l='*i*LL**'
l.strip('*')

'i*LL'

In [234]:
a=[10]
def f(a):
    a[0]=0
    print("Inside: ",a)
f(a.copy())
print("Outside: ",a)

Inside:  [0]
Outside:  [10]

In [236]:
k=lambda a,b:a*b
k(3,2)

6

In [246]:
import datetime

t = datetime.date(2020,7,26)
print("t: ",t)
print("$ ",datetime.date.today())
print("Weekday: ",t.weekday())
print("Isoweekday: ",t.isoweekday())
delta = datetime.timedelta(days=2)
print(t+delta)
print(t-delta)

t:  2020-07-26
$  2020-07-26
Weekday:  6
Isoweekday:  7
2020-07-28
2020-07-24

In [252]:
bday= datetime.date(2019,12,15)
till_day = datetime.date.today()-bday
print("Bday over {} ago".format(till_day))
print(till_day.total_seconds())

Bday over 224 days, 0:00:00 ago
19353600.0

In [265]:
time = datetime.time(9,10,43,3)
print(time.hour)
print(time.minute)
print(time.second)
print(time.microsecond)
print(datetime.datetime(2020,4,1,12,34,3,1000))
print(datetime.datetime.today())

9
10
43
3
2020-04-01 12:34:03.001000
2020-07-26 20:46:06.194815

In [268]:
q=datetime.datetime.today()
delta = datetime.timedelta(hours=12, days=9)
print(q)
print(q+delta)

2020-07-26 20:47:48.469459
2020-08-05 08:47:48.469459

In [269]:
print(datetime.datetime.today())
print(datetime.datetime.now())

2020-07-26 20:49:53.674170
2020-07-26 20:49:53.674169

In [315]:
print(time.strptime("June 11 2002","%B %d %Y"))

time.struct_time(tm_year=2002, tm_mon=6, tm_mday=11, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=1, tm_yday=162, tm_isdst=-1)

In [322]:
print(datetime.datetime.strptime("6,11 2002","%m,%d %Y"))
# k=datetime.datetime.strptime("6,11 2002","%m,%d %Y")
# k.strftime("%Y")

2002-06-11 00:00:00

In [319]:
s=datetime.datetime.strptime("June 11 2002","%B %d %Y")
print(s.strftime("%A, %b %d,%Y"))

Tuesday, Jun 11,2002

In [308]:
a = input().strip().split(',')
p=datetime.date(int(a[1]),int(a[0]),13)
p.weekday()
import calendar
calendar.day_name[p.weekday()]

1,1985

'Sunday'